:root {
  --color-background-card: #f5f5f5;
  --color-background-button: #ffffff;
  --color-text: #1e1e1e;
  --color-text-click: #000000;
  --color-background-click: #c2c2c2;
  --color-background-body: #e5e5e5;
  --second-color-background-body: #adadad;
}

.dark-theme {
  --color-background-card: #2c2c2c;
  --color-background-button: #3a3a3a;
  --color-text: #e0e0e0;
  --color-text-click: #ffffff;
  --color-background-click: #5a5a5a;
  --color-background-body: #1c1c1c;
  --second-color-background-body: #404040;
}
